<div class="inline">
    <div *ngFor="let coin of coins" >
        <app-coin [coin]="coin"></app-coin>          
    </div>
</div>
<h4>
    Credit: $ {{vendingService.credit}}                
</h4>     
<button [disabled]="!vendingService.canPay() || !vendingService.hasStock()" (click)="vendingService.pay()">Pay</button>
<span class="warning" *ngIf="vendingService.isShowNoCreditMessage()">Not enough credit</span>
<span class="warning" *ngIf="vendingService.isShowNoStockMessage()">Selection is out of stock</span>
